---
import 'bootstrap/dist/css/bootstrap.min.css';
import Button from '../components/Button.vue';



export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<script src="bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	</body>
</html>
<style is:global>
	@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");
	@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&display=swap');	

	:root {
		--accent: 124, 58, 237;
		--accent-gradient: linear-gradient(45deg, rgb(var(--accent)), #da62c4 30%, white 60%);
	}
	html {
		font-family: system-ui, sans-serif;
		background-color: #F6F6F6;
	}
	code {
		font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
			Bitstream Vera Sans Mono, Courier New, monospace;
	}

	body{
		margin:0;
		padding:0;
		box-sizing: border-box;
	}
</style>
